# VPN Subscription URLs
# Основная подписка
SUBSCRIPTION_URL_MAIN=vless://c61daf3e-83ff-424f-a4ff-5bfcb46f0b30@45.77.190.146:8443?encryption=none&flow=&security=reality&sni=www.gstatic.com&fp=chrome&pbk=rLCmXWNVoRBiknloDUsbNS5ONjiI70v-BWQpWq0HCQ0&sid=108108108108#%F0%9F%87%BA%F0%9F%87%B8+%F0%9F%99%8F+USA+%231

# Настройки приложения
APP_NAME=VPN Client
APP_VERSION=1.0.12 